__pycache__/
*.py[cod]

# jupyter notebook
.ipynb_checkpoints/

# 프로젝트 생성파일
videos/
videos2/
out/
ha/

_mina/
study/

# 학습할 데이터
label*
data*

*.pdf
*.hwp
*.docx
*.pptx
*.xlsx
*.xls
*.zip

# 에디터 생성 파일
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

논문 중간/

runs/
test/
train/
valid/

*.pt

README.roboflow.txt
README.dataset.txt
plt.ipynb
model/CNN*_13
model/LSTM_*_13
model/GRU_*_13
model/*-2023-10-24
model/Labrador_Retriever
gradio_cached_examples/