<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <h2 align="center">Auto Video Stream to Still Image</h2>

    <video
      id="myVideo"
      width="400"
      height="300"
      style="border: 1px solid #ddd"
    ></video>
    <canvas
      id="myCanvas"
      width="160"
      height="140"
      style="border: 1px solid #ddd"
    ></canvas
    ><br />

    <input type="button" value="get Video" onclick="{getVideo()}" />
    <input type="button" value="get Pic" onclick="{takeSnapshot()}" /><br />
    Take snapshot every
    <input type="number" id="myInterval" value="3000" /> milliseconds
    <input type="button" value="Auto" onclick="{takeAuto()}" />

    <input type="file" accept="video/*;capture=camcorder" />
    <input type="file" accept="audio/*;capture=microphone" />

    <script src="{{ url_for('static', path='/js/webcam.js') }}"></script>
  </body>
</html>
